# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # - name: Install pnpm
      #   uses: pnpm/action-setup@v2.4.0
      #   with:
      #     version: next-8

      - name: Install yarn
        run: npm i -g yarn@1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn run build --if-present

      - name: Test
        run: yarn test

      - name: Test docs
        run: yarn run coverage

  unit-test-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # - name: Install pnpm
      #   uses: pnpm/action-setup@v2.4.0
      #   with:
      #     version: next-8

      - name: Install yarn
        run: npm i -g yarn@1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install deps
        run: yarn install

      - name: Build
        run: yarn run build --if-present

      - name: Test
        run: yarn test

      - name: Test docs
        run: yarn run coverage
